#background {
    background-color: #2A2A2A;
}

.jumbotron {
    background-color: #003939;
    align-content: center;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: i;
}

.container-titles {
    color: white;
    text-align: left;
    font-family: t;
}

.glyphicon {
    font-size: 15px;
}

td {
    padding: 5px;
}
.btn-add-weight {
    width: 50px;
}
.btn-create-table {
    width: 150px;
}

.btn-add-score, .btn-remove-score {
    width: 50px;
}
.score-table {
    border: 1px solid #FFFFFF;
    width: 200px;
    float: left;
}

.score-div {
    border-right: dashed #eee;
    width: 250px;
    float: left;
    padding: 10px;
}
h4 {
    padding-bottom: 5px;
    border-bottom: ridge #eee;
}
